:root {
    --blue-dark: #1A2D51;
    --blue-light: #1A2D8E;
    --gold: #E0BC61;
    --cream: #FFFBEE;
    --cream-light: #EDE9CF;
    --font-main: Arial, sans-serif;
}

body {
    margin: 0;
    background: var(--cream);
    font-family: var(--font-main);
    color: var(--blue-dark);
}

/* Header */
.logo {
    width: auto;
    height: 60px; 
    padding-right: 700px;
}
.topnav {
    width: flex;                    /* flex så den passer til alle skærme*/
    background: rgb(255, 255, 255);
    display: flex;                  /* sætter det på række */
    justify-content: space-between; /* afstanden i mellem logo og tekst */
    align-items: center;            /* sørger for at det er i midten */
    padding: 1.5rem;                /* størrelse på selve nav baren */
    position: sticky;               /* bliver øverst på skærmen når man scroller */
    top: 0;                         /* toppen af skærmen */
    right: 40px;  
    z-index: 10;                    /* det forreste lag */
}

.nav-links {
    display: flex;           /* sætter det på række */ 
    gap: 30px;          /* afstanden i mellem teskten */
    align-items: right;       /* sørger for at det er i midten */        
}

.nav-links a {          /* selve teksten */ 
    color: #1A2D51;              /* farven på teskten */
    font-size: 1.2rem;        /* størrelsen på teksten */
}


/* HERO  */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
    background: var(--blue-dark);
    color: var(--cream-light);
    gap: 2rem;
}

.hero-text {
    flex: 1;
    min-width: 320px;
    background: #1A2D51;
    color: #EDE9CF;

    display: flex;
    flex-direction: column;
    justify-content: center;  /* centrerer lodret */
    align-items: center;       /* centrerer vandret */

    text-align: center;        /* centrerer al tekst */
    padding: clamp(1.5rem, 4vw, 4rem);
}
.hero-text h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

.bold {
    font-size: 1.8rem;
    font-weight: bold;
}

.tilmelding-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: var(--cream);
    color: var(--blue-light);
    border-radius: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.hero-image {
    width: 100%;
    border-radius: 8px;
}

.hero-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CARDS*/

.cards {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.card {
    background: var(--gold);
    color: var(--blue-light);
    border-radius: 15px;
    padding: 2rem;
}

.card h2 {
    font-size: 1.8rem;
    margin-top: 0;
}

.card p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.readmore {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: var(--blue-light);
    text-decoration: none;
    font-weight: bold;
}


/* FOOTER */
.footer {
    max-width: 100%;
    background: #004076;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

.footer-col  {
    flex: 1;
    min-width: 200px;
    margin: 1rem 0;
    align-self: center;
}

.footer-col.right {
    column-width: flex;
    margin-left: auto;          /* skubber kolonnen til højre på brede skærme */
    text-align: right;          /* skubber teksten til højre */ 
    
    
}
.footer-col.center {
    column-width: flex;
    margin: center;  
    text-align: center;         /* centrerer teksten i midter kolonnen */
    
}
.footer-col.left {
    column-width: flex;
    margin-right: auto;  
    text-align: left;           /* centrerer teksten til venstre i kolonnen */
    
}


/* RESPONSIVT BREAKPOINT */
@media (max-width: 600px) {                         
    .footer {
        flex-direction: column;      /* kolonner under hinanden */
        text-align: center;     /* centrerer teksten i footeren */
        align-content: center;     /* centrerer kolonnerne */
    }
    .footer-col.right {        /* højre kolonne i footeren */
    column-width: flex;          /* gør kolonnen fleksibel */
    margin-left: right;             /* skubber kolonnen til højre på brede skærme */
    text-align: center;        /* centrerer teksten i kolonnen */
    } 
}