body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #FFFBEE;
    color: #1A2D51;
}

/* Header */
.logo {
    width: auto;
    height: 60px; 
    padding-right: 700px;
}

.topnav {
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    right: 40px;
    z-index: 10;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;      
}

.nav-links a {
    color: #1A2D51;
    font-size: 1.2rem;
}

/* HERO */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 2rem;
    background: #1A2D51;
    color: #EDE9CF;
    gap: 2rem;
}

.hero-text {
    flex: 1;
    min-width: 320px;
    background: #1A2D51;
    color: #EDE9CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: clamp(1.5rem, 4vw, 4rem);
}

.hero-text h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

.bold {
    font-size: 1.8rem;
    font-weight: bold;
}

.tilmelding-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #FFFBEE;
    color: #1A2D8E;
    border-radius: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.hero-image {
    width: 100%;
    border-radius: 8px;
}

.hero-image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARDS */
.cards {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.card {
    background: #E0BC61;
    color: #1A2D8E;
    border-radius: 15px;
    padding: 2rem;
}

.card h2 {
    font-size: 1.8rem;
    margin-top: 0;
}

.card p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.readmore {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: #1A2D8E;
    text-decoration: none;
    font-weight: bold;
}

/* FOOTER */
.footer {
    max-width: 100%;
    background: #004076;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin: 1rem 0;
    align-self: center;
}

.footer-col.right {
    margin-left: auto;
    text-align: right;
}

.footer-col.center {
    margin: 0 auto;
    text-align: center;
}

.footer-col.left {
    margin-right: auto;
    text-align: left;
}

/* RESPONSIVE FOOTER */
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-col {
        margin: 0.5rem 0;
        text-align: center;
    }
}